@model IEnumerable<Video>

@{
    ViewData["Title"] = "Añadir Videos";
}

<div class="text-start">
    <h1 class="mt-5 display-6">Añadir nuevo video</h1>
    @using (Html.BeginForm("Create", "Home"))
    {
        @Html.AntiForgeryToken()
        <div class="input-group mb-3">
            <input name="videoUrl" type="text" class="form-control" placeholder="añadir" aria-label="Add Video" aria-describedby="button-addon2">
            <button type="submit" value="Create" class="btn btn-primary" id="button-addon2">Añadir</button>
        </div>
    }
    
    <div class="mt-5 container text-center">
        <div class="row row-cols-4">
            @foreach (var item in Model)
            {
                <div class="p-4 col">
                    <div class="text-center position-relative">
                        <button
                            type="button"
                            class="btn btn-dark position-absolute top-0 end-0"
                            aria-label="Close"
                            style="line-height: 1; padding: 0 4px 2px; border-radius: 0;"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                            data-bs-whatever="@item.VideoId"
                        >
                            x
                        </button>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#videoDetailModal" data-bs-whatever="@item.VideoId">
                            <img src="@item.ImageUrl" class="img-thumbnail" alt="@item.VideoId">
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <!--Detail Modal -->
    <div class="modal fade" id="videoDetailModal" tabindex="-1" aria-labelledby="videoDetailModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab" tabindex="0">
                            <div class="row g-0">
                                <div class="col-md-4" style="align-self: center;" id="nav-tab">
                                    <a href="#" onclick="changeTab('nav-play')">
                                        <img src="" class="img-thumbnail" alt="" id="video-image">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 14px;" id="title"></h5>
                                        <p class="card-text" style="font-size: 12px;" id="description"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-play" role="tabpanel" aria-labelledby="nav-play-tab" tabindex="0">
                            <div>
                                <button type="button" class="btn btn-outline-primary"  onclick="changeTab('nav-detail')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                                    </svg>
                                    Volver
                                </button>
                            </div>
                            <div class="mt-4">
                                <iframe id="video-youtube" title="video" width="600" height="400" src="" style="width: 100%;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Seguro que quieres eliminar este video?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Home"))
                {
                    @Html.AntiForgeryToken()
                    <input id="delete-video-id" name="videoId" type="hidden" >
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" value="Delete" class="btn btn-primary">Eliminar</button>
                }
            </div>
            </div>
        </div>
    </div>

</div>

<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const videoId = button.getAttribute('data-bs-whatever');

        $('#delete-video-id').val(videoId)
    });

    const detailModal = document.getElementById('videoDetailModal');
    detailModal.addEventListener('show.bs.modal', event => {
        changeTab('nav-detail');
        const button = event.relatedTarget
        const videoId = button.getAttribute('data-bs-whatever')

        $.getJSON(`/home/ObtenerVideo?videoId=${videoId}`).done(function (video) {
            $('#title').text(video.titulo);
            $('#description').text(video.descripcion);
            $('#video-image').attr("src",video.imageUrl);
            $('#video-image').attr("alt",video.videoId);
            $('#video-youtube').attr("src","https://www.youtube.com/embed/" + video.videoId);
        });
    });

    detailModal.addEventListener('hide.bs.modal', event => {
        $('#video-youtube').attr("src","");
    });

    function changeTab(id) {
         $(".tab-pane").removeClass("active in");
         $("#" + id).addClass("show active in");
    }
</script>
